#toggle-theme{
    all: inherit;
    outline: revert;
    box-sizing: border-box;
    position: fixed;
    top: 5px;
    right: 3px;
    transition: translate 200ms;
    padding: 5px;
    z-index: 1;
}

#toggle-theme:active{
    translate: 1px 1px;
}

#toggle-theme:hover {
    cursor: pointer;
}